# JetBrains
/*.iml

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local
docker.env
.env

# Node.js
/node_modules/

# When running "npm run build"
/build/

# Python "robot" tests
/robot/results/

__pycache__